/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttonSpacing {
  margin-right: 100 px; /* Ajuste o valor conforme necessário */
}


.buttonWrapper {
  display: block;
  margin-bottom: 10px; /* Ou qualquer valor que você preferir para o espaçamento vertical */
}

/* index.module.css */

.temp-style {
  border: 2px solid red; /* Adicione um estilo de borda vermelha temporário */
}
